@use './variables' as *;

/* === Header === */
.header {
    width: 40vw;
    margin-inline: auto;
    text-align: center;
    background-color: $bg-color-2;
    color: $text-color-1;
    padding: 25px;
    font-size: 2rem;
    font-weight: 600;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: $border-radius-main;
}
