// general
$bg-color-1: #F2EFE7;
$bg-color-2: #48A6A7;
$bg-color-3: #9ACBD0;
$bg-color-4: #d8eff2;
$bg-color-5: #ffffff;

$bg-transparency: 0.7;

$text-color-1: white;
$text-color-2: #494e94;

$accent-color-1: #AE445A;
$accent-color-2: #d4877d;
$accent-color-3: #E8BCB9;

$border-radius-main: 20px;
$border-radius-2: 15px;

// button
$button-color-primary: #48A6A7;
$button-color-hover: #007982;

// graph nodes
$graph-node-1: #48A6A7;
$graph-node-2: #313bc1;
$graph-node-3: #6972e9;
$graph-node-4: #AE445A;
$graph-node-5: #6de5a1;

// charts
$graph-tab-color-primary: $bg-color-4;
$graph-tab-color-hover: $button-color-primary;
$graph-tab-color-active: #008b95;
$graph-tab-border: 3px solid;