@use '../mixins/button' as *;
@use '../mixins/graph-controls-misc' as *;
@use '../components/variables' as *;

.bfs-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    text-align: left;
    background-color: transparent;
    border-radius: 8px;

    button {
        @include Button($button-color-primary, $button-color-hover);
        padding: 8px 16px;    
        transition: background-color 0.3s;

        &:disabled {
            background-color: #95a5a6;
            cursor: not-allowed;
        }
    }

    @include GraphControlsMisc;

    .unvisited { background-color: $graph-node-1; }
    .current { background-color: $graph-node-2; }
    .visited { background-color: $graph-node-3; }
    .bfs-edge { background-color: $graph-node-4; }
    .queued { background-color: $graph-node-5; }
}