/* Additional styles for D3 elements */
.node {
    cursor: pointer;
    user-select: none;
}

.link {
    stroke-opacity: 0.8;
}

.node text {
    font-size: 12px;
    text-anchor: middle;
    dominant-baseline: middle;
    fill: white;
    font-weight: bold;
    pointer-events: none;
    user-select: none;
}

.weight-label {
    font-size: 12px;
    text-anchor: middle;
    dominant-baseline: middle;
    fill: #494e94;
    pointer-events: none;
    background-color: white;
    user-select: none;
}

.graph-container {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: white;
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
}